.red,
.orange,
.yellow,
.green,
.blue,
.indigo,
.violet {
  height: 50px;
  margin: 10px auto;
  padding-left: 10px;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.indigo {
  background-color: indigo;
}

.violet {
  background-color: violet;
}
